


<div class="main-bg login-nav">
    <div class="container-fluid">
      <img class="py-3" src="assets/images/letsqr_logo.png" alt="" />
    </div>
  </div>
  <div
    class="
      main-login-bg
      w-100
      p-2
      d-flex
      align-items-center
      justify-content-center
    "
  >
    <div class="shadow bg-white login-page text-center">
      <form action="" class="d-block">
        <h3 class="wel-log">WELCOME</h3>
        <p class="sign-in mb-5">please sign-in to LetsQR</p>
        <div class="position-relative po-i mb-4">
          <input placeholder="UserName"   [(ngModel)]="username" name="username" type="text" class="form-control" />
          <span class="left-pos side-border"><i class="fas fa-pen"></i></span>
        </div>
        <div class="position-relative po-i mb-3">
          <input placeholder="Password" type="password"[(ngModel)]="password" autocomplete="true"  name="password" class="form-control" />
          <span class="left-pos side-border"><i class="fas fa-lock"></i></span>
        </div>
         <div *ngIf="haserror">
          <div class="alert alert-danger">
            username or password  is invalid
          </div>
        </div>
      
        <button class="main-login-btn mb-2" (click)="loginUser($event)">LOGIN</button>
        <a style="line-height: 48px;" class="main-login-btn d-inline-block" [routerLink]="['/register']" >REGISTER</a>
      </form>
    </div>
  </div>
  