.bg-blue {
    background-color: #1565c0;
    position: relative;
    overflow: hidden;
}
.bg-blue::before {
    content: "";
    position: absolute;
    bottom: 1px;
    left: -407px;
    height: 138px;
    background-color: #fff;
    display: block;
    right: 0;
    transform: rotateZ(28deg) scale(1);
}
.bg-blue::after {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 21px;
    height: 126px;
    background-color: #fff;
    display: block;
    right: -352px;
    transform: rotateZ(-28deg) scale(1);
}
.business-card {
    box-shadow: 1px 1px 13px #9b9b9b;
    border: 1px solid #ddd;
    max-width: 300px;
    margin: auto;
}
.share-btn {
    background-color: #1565c0;
    border: 0;
    color: #fff;
    padding: 9px 30px;
    border-radius: 15px;
    width: 100%;
    max-width: 258px;
}
.hc-sm h6 {
    font-size: 14px;
}


#QR_BARCODE2  {
    width: 100%;
    height: 154px;
    margin: auto;
    max-width: 154px; position: relative; z-index: 5;
    background-image: url('../../../assets/images/business-card.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
}