<div class="sub-side">
    CREATE QR
</div>
<div class="container py-5">
    <label class="mb-3"> create a Static Email QR Code</label>
    <form [formGroup]="barcodeForm" (ngSubmit)="onSubmit()">
        <div class="form-group mb-3">
            <input   class="d-block main-input "   id="url" type="site" formControlName="emailTo" placeholder="email ">
            <h6 *ngIf="barcodeForm.get('emailTo')?.invalid && (barcodeForm.get('emailTo')?.dirty || barcodeForm.get('emailTo')?.touched)"
                    class="text-danger">
                    <small>you should enter email</small> 
            </h6>
        </div>
        <div class="form-group mb-3">
            <input   class="d-block main-input "   id="subject" type="site" formControlName="subject" placeholder="subject ">
            <h6 *ngIf="barcodeForm.get('subject')?.invalid && (barcodeForm.get('subject')?.dirty || barcodeForm.get('subject')?.touched)"
                    class="text-danger">
                    <small>you should enter the subject</small> 
            </h6>
        </div>
        <div class="form-group mb-3">
            <textarea class="d-block main-input "   id="message" type="site" formControlName="emailBody" placeholder="message" style="height: 100px;"></textarea>
            <h6 *ngIf="barcodeForm.get('emailBody')?.invalid && (barcodeForm.get('emailBody')?.dirty || barcodeForm.get('emailBody')?.touched)"
                    class="text-danger">
                    <small>you should enter your message</small> 
            </h6>
        </div>
        <div class="form-group mb-3">
            <label   class="d-block" for="tags">Tags </label>
            <input   class="d-block main-input "   id="tags" type="text" formControlName="tags" style="max-width: 150px;">
        </div>
         <!-- <div class="form-group mb-3">
            <label   class="d-block" for="qrPlace">Where do you want to put the QR Code? </label>
            <select  class="d-block main-input "  id="qrPlace" formControlName="qrPlace" style="max-width: 200px;">
                <option value=""></option>
            </select>
        </div> -->
        <div class="form-group mb-3">
            <button  class="button btn btn-primary" [disabled]="!barcodeForm.valid"  (click)="showBarcode();getUrlQRCode()" > Next </button>
        </div>
      </form>
</div>